<tr>
    <td hidden><%= cds.IdCds%></td>
    <td><%= cds.espacio%></td>
    <td><%= cds.Nombre%></td>
    <td><%= cds.Comuna%></td>
    <td><%= cds.concatenar%></td>
    <td><%= cds.Direccion%></td>
    <td><%= cds.Horario%> </td>
    <td><%= cds.Telefono%> </td>
    <td><%= cds.correo%> </td>
    <td>
      <button type="button" data-bs-toggle="modal" data-bs-target="#modalEliminar<%=cds.IdCds%>" class="btn btn-outline-danger m-1 btnDelete" title="Eliminar Usuario" >❌</button>
      <div class="modal fade" id="modalEliminar<%=cds.IdCds%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h3>Confirmar Eliminación:</h3>
              <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nombre Completo</label>
              <input readonly value="<%=cds.concatenar%>">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <input type="submit" value="Aceptar" class="btn btn-primary btnAceptar">
            </div>
          </div>
        </div>
      </div>


<button type="button" title="Editar" class="btn btn-outline-success btnEdit" data-bs-toggle="modal" data-bs-target="#exampleModal<%=cds.IdCds%>" data-bs-whatever="@fat"> 🖋</button></td>
  </tr>

  <div class="modal fade" id="exampleModal<%= cds.IdCds%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">MODIFICA EL CAMPO REQUERIDO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="cdsForm" >
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Espacio</label>
              <select name ="espacio" id="tipo" class="select"  value="<%=cds.espacio %>">
                <option value ="<%=cds.espacio %>" selected disabled><%=cds.espacio %></option>
                <option value ="CENTRO DESARROLLO SOCIAL" > Centro de Desarrollo Social</option>
                <option value ="TELECENTRO"> Telecentro</option>
              </select>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Comuna o Corregimiento</label>
                <select name ="Comuna" id="tipo" class="select"  value="<%=cds.Comuna %>" >
                  <option value ="<%=cds.Comuna %>" selected disabled><%=cds.Comuna %></option>
                  <option value ="1. Popular" >1. POPULAR</option>
                  <option value="2. Santa cruz"  >2. SANTA CRUZ</option>
                  <option value ="3. Manrique" >3. MANRIQUE</option>
                  <option value="4. Aranjuez"  >4. ARANJUEZ</option>
                  <option value ="5. Castilla" >5. CASTILLA</option>
                  <option value="6. 12 de octubre"  >6. 12 DE OCTUBRE</option>
                  <option value ="7. Robledo" >7. ROBLEDO</option>
                  <option value="8. Villa Hermosa"  >8. VILLA HERMOSA</option>
                  <option value ="9. Buenos Aires" >9. BUENOS AIRES</option>
                  <option value="10. la candelaria"  >10. LA CANDELARIA</option>
                  <option value ="11. Laureles" >11. LAURELES ESTADIO</option>
                  <option value="12. La america"  >12. LA AMERICA</option>
                  <option value ="13. San javier" >13. SAN JAVIER</option>
                  <option value="14. El poblado"  >14. EL POBLADO</option>
                  <option value ="15. Guayabal" >15. GUAYABAL</option>
                  <option value="16. Belen"  >16. BELEN</option>
                  <option value ="50. San sebastian de palmitas" >50. SAN SEBASTIAN DE PALMITAS</option>
                  <option value="60. San cristobal"  >60. SAN CRISTOBAL</option>
                  <option value ="70. Alta vista" >70. ALTA VISTA</option>
                  <option value="80. San antonio de prado"  >80. SAN ANTONIO DE PRADO</option>
                  <option value ="90. Santa elena" >90. SANTA ELENA</option>
                </select>
              </div>
    
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Nombre</label>
              <input class="form-control" id="message-text" name="Nombre" value="<%= cds.concatenar%>">
            </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Dirección</label>
            <input class="form-control" id="message-text" name="Direccion" value="<%= cds.Direccion%>"></input>
          </div>
        <div class="mb-3">
          <label for="message-text" class="col-form-label">Horario</label>
          <input class="form-control" id="message-text" name="Horario" value="<%=cds.Horario %>"></input>
        </div>
        <div class="mb-3">
          <label for="message-text" class="col-form-label">Télefono</label>
          <input class="form-control" id="message-text" name="Telefono" value="<%=cds.Telefono %>"></input>
        </div>
        <div class="mb-3">
          <label for="message-text" class="col-form-label">correo</label>
          <input class="form-control" id="message-text" type="email" name="correo" value="<%=cds.correo %>"></input>
        </div>


        <div class="modal-footer">
          <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal"> Cancelar</button>
          <input type="submit"  class="btn btn-primary" value ="Aceptar">
        </div>
      </form>
    </div>
  </div>
</div>
</div>