
<tr >
  <td hidden >
    <%=registro.id_visita%>
  </td>
  <td>
    <%=registro.numero_documento%>
  </td>
  <td>
    <%=registro.tipo_documento %>
  </td>
  <td>
    <%=registro.nombre_completo %>
  </td>
  <td>
    <%=registro.secretaria_entidad %>
  </td>
  <td>
    <%=registro.ocupacion %>
  </td>
  <td>
    <%=registro.sexo%>
  </td>
  <td>
    <%=registro.fecha_nacimiento %>
  </td>
  <td>
    <%=registro.edad %>
  </td>
  <td>
    <%=registro.enfoque_diferencial %>
  </td>
  <td>
    <%=registro.derechos%>
  </td>
  <td>
    <%=registro.degradacion_territorial %>
  </td>
  <td>
    <%=registro.correo_electronico%>
  </td>
  <td>
    <%=registro.organizacion%>
  </td>
  <td>
    <%=registro.telefono_celular%>
  </td>
  <td>
    <%=registro.concatenar%>
  </td>

  <td>
    <button type="button" data-bs-toggle="modal" data-bs-target="#modalEliminar<%=registro.id_visita%>"class="btn btn-outline-danger m-1 btnDelete " title="Eliminar Usuario">❌</button>

    <div class="modal fade" id="modalEliminar<%=registro.id_visita%>" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3>Confirmar Eliminación:</h3>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nombre</label>
              <input readonly value="<%= registro.nombre_completo%> ">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Documento</label>
              <input readonly value="<%= registro.numero_documento%> ">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <input type="submit" value="Aceptar"  class="btn btn-primary btnAceptar">
          </div>
        </div>
      </div>
    </div>


<!-- Editar -->


    <button type="button" title="Editar" class="btn btn-outline-success btnEdit" data-bs-toggle="modal"
      data-bs-target="#exampleModal<%=registro.id_visita%>" data-bs-whatever="@fat"> 🖋</button>

    <!--  -->

    <div class="modal fade" id="exampleModal<%=registro.id_visita%>" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">MODIFICA EL CAMPO REQUERIDO</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="tableForm" class="tableForm">
              <div id="mb-3" class="mb-3">
                <label for="message-text" class="col-form-label"> Tipo de documento</label>
                <select name="tipo_documento" id="tipo" class="select" value="<%=registro.tipo_documento %>">
                  <option value="cedula de ciudadania">Cédula de Ciudadanía (CC)</option>
                  <option value="cedula de extranjeria">Cédula de extrangería (CE)</option>
                  <option value="tarjeta de identidad">Tarjeta de Identidad (TI)</option>
                  <option value="pasaporte">Pasaporte</option>
                  <option value="registro civil">Registro Civil (RC)</option>
                  <option value="numero unico de identificacion personal">Número Único de Identificación
                    Personal
                    (NUIP)</option>
                  <option value="numero de identificacion personal">Número de Identificación Personal (NIP)
                  </option>
                </select>
              </div>

              <div id="mb-3" class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre Completo</label>
                <input type="text" class="form-control" id="recipient-name" name="nombre_completo"
                  value="<%= registro.nombre_completo%>">
              </div>
              <div  id="mb-3" class="mb-3">
                <label for="recipient-name" class="col-form-label">Secretarìa o entidad</label>
                <input type="text" class="form-control" id="recipient-name" name="secretaria_entidad"
                  value="<%= registro.secretaria_entidad%>">
              </div>
              <div id="mb-3" class="mb-3">
                <label for="recipient-name" class="col-form-label">Ocupaciòn</label>
                <input type="text" class="form-control" id="recipient-name" name="ocupacion"
                  value="<%= registro.ocupacion%>">
              </div>
              <div id="mb-3" class="mb-3">
                <label for="recipient-name" class="col-form-label">Fecha de Nacimiento</label>
                <input type="text" class="form-control" id="recipient-name" name="fecha_nacimiento"
                  value="<%= registro.fecha_nacimiento%>">
              </div>
              <div  id="multiple" class="mb-3">
                <label for="message-text" class="col-form-label">Enfoque diferencial</label>
                <select multiple  class="selectpicker" name="enfoque_diferencial[]" id="tipo"  value="<%=registro.enfoque_diferencial %>">
                  <option value="<%= registro.enfoque_diferencial %>" selected disabled>
                    <%= registro.enfoque_diferencial %>
                  </option>
                  <option value="Afrodescendiente">Afrodescendiente</option>
                  <option value="Indigena">Indigena</option>
                  <option value="ROM">ROM</option>
                  <option value="LGBTIQ+">LGBTIQ+</option>
                  <option value="Situacion de calle">Situacion de calle</option>
                  <option value="Campesino">Campesino</option>
                  <option value="Discapacidad">Discapacidad</option>
                  <option value="Poblacion victima">Población victima</option>
                </select>
              </div>
              <div  id="mb-3" class="mb-3">
                <label for="message-text" class="col-form-label">Derechos</label>
                <select name="derechos" id="tipo" class="select" value="<%=registro.derechos %>">
                  <option value="<%= registro.derechos %>" selected disabled>
                    <%= registro.derechos %>
                  </option>
                  <option value="Población victima">Población victima</option>
                  <option value="">No Aplica</option>
                </select>
              </div>
              <div id="mb-3" class="mb-3">
                <label for="message-text" class="col-form-label">Comuna o Corregimiento</label>
                <select name="degradacion_territorial" id="tipo" class="select"
                  value="<%=registro.degradacion_territorial %>">
                  <option value="" selected disabled>Selecciona una comuna</option>
                  <option value="1. Popular">1. Popular</option>
                  <option value="2. Santa Cruz">2. Santa Cruz</option>
                  <option value="3. Manrique">3. Manrique</option>
                  <option value="4. Aranjuez">4. Aranjuez</option>
                  <option value="5. Castilla">5. Castilla</option>
                  <option value="6. 12 de Octubre">6. 12 de Octubre</option>
                  <option value="7. Robledo">7. Robledo</option>
                  <option value="8. Villa Hermosa">8. Villa Hermosa</option>
                  <option value="9. Buenos Aires">9. Buenos Aires</option>
                  <option value="10. La Candelaria">10. La Candelaria</option>
                  <option value="11. Laureles Estadio">11. Laureles Estadio</option>
                  <option value="12. La America">12. La America</option>
                  <option value="13. San javier">13. San javier</option>
                  <option value="14. El Poblado">14. El Poblado</option>
                  <option value="15. Guayabal">15. Guayabal</option>
                  <option value="16. Belén">16. Belén</option>
                  <option value="50. San Sebastian de Palmitas">50. San Sebastian de Palmitas</option>
                  <option value="60. San Cristobal">60. San Cristobal</option>
                  <option value="70. Alta Vista">70. Alta Vista</option>
                  <option value="80. San Antonio de Prado">80. San Antonio de Prado</option>
                  <option value="90. Santa Elena">90. Santa Elena</option>
                </select>
              </div>
              <div id="mb-3" class="mb-3">
                <label for="message-text" class="col-form-label">Correo</label>
                <input class="form-control" id="message-text" type="email" name="correo_electronico"
                  value="<%=registro.correo_electronico %>"></input>
              </div>

              <div  id="mb-3" class="mb-3">
                <label form="tipo">Organización</label>
                <select name="organizacion" id="tipo" class="select" value="<%=registro.organizacion %>">
                  <option value="" selected disabled>Selecciona el tipo de Organización</option>
                  <option value="JAL">JAL</option>
                  <option value="JAC">JAC</option>
                  <option value="PP">PP</option>
                  <option value="PDL">PDL</option>
                  <option value="N/A">N/A</option>
                </select>
              </div>
              <div id="mb-3" class="mb-3">
                <label for="message-text" class="col-form-label">tèlefono</label>
                <input class="form-control" type="text" id="message-text" name="telefono_celular"
                  value="<%=registro.telefono_celular %>"></input>
              </div>
              <div id="mb-3" class="mb-3">
                <label for="message-text" class="col-form-label">Sexo</label>
                <input class="form-control" type="text" id="message-text" name="sexo"
                  value="<%=registro.sexo %>"></input>
              </div>


              

              <div class="modal-footer">
                <button type="button"  id="btn1" class="btn btn-secondary" data-bs-dismiss="modal"> Cancelar</button>
                <input type="submit"  id="btn" class="btn btn-primary" value="Aceptar">
              </div>

            </form>
          </div>


        </div>
      </div>
    </div>

    <!--  -->
  </td>
</tr>
