<!DOCTYPE html>
<html lang="en">
<head>
  
  
  <%- include('./partials/template/header.ejs') %> 
  <link rel="stylesheet" href="/resources/css/ingresoVisitantes.css" type="text/css" media="all">
 
</head>

<body onload="getInputs(), getInfoVisitors(), getInfoActivities()">
 <header>
<%- include('./partials/template/nav.ejs') %> 

  <div id="icon-menu">
    <i class="fas fa-bars"></i>
  </div>

  </header>

<div class="container-all" id="move-content">
  <div class="container-content">
  <div class='wrapper'>
    <div class='login'>
      <div class='appTitle'>
       INGRESO VISITANTES
      </div>
      <div class='arrow-down'></div>
      <form  id="myForm">

        <fieldset>
          <span>
            <i class='fa fa-user'></i>
          </span>
          <input type="" for="validationServer01 "  id="validationServer01" name="cedula" placeholder='Ingrese Documento'  onchange="validacion(),showDocument(), getValue()" required>
        </fieldset>



         <input type="text" id="item" aria-disabled="true" value=""  hidden  onchange="getDocument()"  > 
         <input type="number" id="item2" aria-disabled="true" value="" hidden  onchange="getAge()" > 
    
        <fieldset>
          <span>
            <i class="fa fa-clock-o"></i>
          </span>
          <input type="text" name="fecha" id="fecha" onload="getDate()" aria-disabled="true" readonly >
        </fieldset>

        <fieldset>
          <span>
            <i class="fa fa-clock-o"></i>
          </span>
          <input type="text" id="hour"  onload="getTime()" name="hora" aria-disabled="true" readonly>
        </fieldset>


        <div class="mb-3">
        <fieldset>
          <span>
            <i class="fa fa-book fa-fw"></i>
            </span>
      
          <div class="camp">
            <label  placeholder="actividad"form="tipo" ></label>
            <select name ="id_actividades" id="tipo" class="select" required >
              <option value ="" selected disabled>Selecciona una actividad</option>
              <% for(let i = 0; i < rows.length; i++) { %> 
              <option value ="<%= rows[i].id_actividades %>"><%= rows[i].fullActivitie %></option>
              <%  } %> 
            </select>
          </div>
          </fieldset>
        </div>
        
        <div class="my-4">
        <fieldset>
          <span>
            <i class="fa fa-clock-o"></i>
          </span>
        <div class=camp>
          <select class="select" name="IdCds">
         <option  value="<%= id %>"> <%= name %> </option>
         </select>
        </div>
      </fieldset>
    </div>
        <input id='btnLogin' type='submit' value="Ingresar">
      </form>
    </div>
  </div>

  <a  href="/tablaIngresos" class="btn-save1">Tabla 📋</a>
</div>
</div>


<footer class="container-footer">
  <div class="container_footer">
      <div class="box_footer">
        <div class="logo">
          <img class="img1" src="https://www.museocasadelamemoria.gov.co/wp-content/uploads/2016/10/PNG_LOGO_ALCALDIA_MEDELLIN_FONDOS_OSCUROS.png" alt="">
        </div>
        <div class="terms">
          <p> Contáctenos
            Edificio Plaza de la Libertad – Piso 14 A Carrera 53 A # 42-101<br>
            ➮ Línea única de atención ciudadana: (574) 44 44 144<br>
            ➮ Línea gratuita nacional: 01 8000 411 144</p>
        </div>
      </div>
     
  
      <div class="box_footer">
        <h2>Entérese</h2>
        <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=navurl://557131b191a8cae1e393328c6971a2d0">Telecentros</a>
        <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=contenido/6694-Centros-de-Desarrollo-Social">CDS</a>
        <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin">Alcaldía de Medellín</a>
      </div>
      <div class="box_footer">
        <h2>Redes</h2>
        <a class="a1" href="https://es-la.facebook.com/AlcaldiadeMed/"><i class=" fab fa-facebook-square"></i> Facebook</a>
        <a class="a1" href="https://twitter.com/AlcaldiadeMed?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class=" fab fa-twitter-square"></i> Twitter</a>
        <a class="a1" href="https://www.instagram.com/alcaldiademed/?hl=es-la"><i class=" fab fa-instagram-square"></i> Instragram</a>
      </div>
    </div>
  </footer>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css";>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

  <script src="/resources/js/script.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/resources/js/routeRedirect.js"></script>
  <script src="/resources/js/showTime.js"></script>
  <script src="/resources/js/inputDisabled.js"></script>
  <script src="/resources/js/showCurrentDate.js"></script>
  <script src="/resources/js/visitorEntryValidation.js"></script>
  <script src="/resources/js/axiosEntrances/visitorEntry.js"></script>
  <script src="/resources/js/redirectToVisitors.js"></script>
  <script src="/resources/js/redirectToActivities.js"></script>
  <script src="/resources/js/getDateOfBirth.js"></script>
  <script src="/resources/js/getCurrentAge.js"></script>
  <script src="/resources/js/updateAge.js"></script>
  <script src="/resources/js/savedToLocalStorageAtUsers.js"></script>
 
</body>
</html>