<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include('./partials/template/header.ejs') %> 
    <link rel="stylesheet" href="/resources/css/registroActividades.css" type="text/css" media="all">
  </head>

<body>

   <header>
  <%- include('./partials/template/nav.ejs') %> 

  <div id="icon-menu">
    <i class="fas fa-bars"></i>
  </div>

    </header>
<main>
   <div class="container-all" id="move-content">
 
    <h1>REGISTRO DE ACTIVIDADES</h1>
    <form   id="activitieForm" class="container-content">
      <div class=camp>
        <label form="tipo">Nombre de la actividad*</label>
        <input type="text" placeholder="ingrese nombre de la actividad" required name="nombre" pattern="[A-Z a-z]{1,150}" title="Solo se permite el ingreso de letras">
      </div>
      <div class=camp>
        <label form="">Secretaría o entidad organizadora *</label>
        <input type="text" placeholder="Ingrese secretaría" required name="secretaria"  pattern="[A-Z a-z]{1,150}" title="Solo se permite el ingreso de letras">
      </div>
      <div class=camp>
        <label form="">Facilitador Organizador *</label>
        <input type="text" placeholder=" Ingrese Facilitador" required name="facilitador"  pattern="[A-Z a-z]{1,150}" title="Solo se permite el ingreso de letras">
      </div>
      <div class=camp>
        <label form="">Fecha inicio *</label>
        <input type="date" placeholder="" required name="fecha_inicio">
      </div>
      <div class=camp>
        <label form="">Fecha final *</label>
        <input type="date" placeholder="" required name="fecha_final">
      </div>
      <div class=camp>
        <label form="">Hora apertura * </label>
        <input type="time" placeholder="ingrese hora de inicio" required name="hora_apertura">
      </div>
      <div class=camp>
        <label form="">Hora cierre *</label>
        <input type="time" placeholder="ingrese hora de cierre" required name="hora_cierre">
      </div> 
      <div class=camp>
        <label form="">Lugar *</label>
        <select class="form-select" name="IdCds">
          <% for(let i = 0; i < rows.length; i++){ %> 
            <option selected value="<%= rows[i].IdCds %> "> <%= rows[i].concatenar %>  </option>
            <%  } %> 
       </select>
      </div>
     <div class=camp>
        <label form="">Ciudad *</label>
        <input Id="" type="text" placeholder="Ingrese Ciudad" required name="ciudad"  pattern="[A-Z a-z]{1,50}" title="Solo se permite el ingreso de letras">
      </div>
      <div class=camp>
        <label form="tipo">Comuna o corregimiento *</label>
        <select name="comuna_corregimiento" id="tipo" class="select" required>
            <% if(key === 0 ) { %>
              <option value="<%= comuna %> "selected><%= comuna %></option>
              <% } else{ %> 
                <option value ="" selected disabled>Selecciona una comuna</option>
                <option value ="1. Popular" >1. Popular</option>
                <option value="2. Santa cruz"  >2. Santa Cruz</option>
                <option value ="3. Manrique" >3. Manrique</option>
                <option value="4. Aranjuez"  >4. Aranjuez</option>
                <option value ="5. Castilla" >5. Castilla</option>
                <option value="6. 12 de octubre"  >6. 12 de Octubre</option>
                <option value ="7. Robledo" >7. Robledo</option>
                <option value="8. Villa Hermosa"  >8. Villa Hermosa</option>
                <option value ="9. Buenos Aires" >9. Buenos Aires</option>
                <option value="10. la candelaria"  >10. La Candelaria</option>
                <option value ="11. Laureles" >11. Laureles Estadio</option>
                <option value="12. La america"  >12. La America</option>
                <option value ="13. San javier" >13. San javier</option>
                <option value="14. El poblado"  >14. El Poblado</option>
                <option value ="15. Guayabal" >15. Guayabal</option>
                <option value="16. Belen"  >16. Belén</option>
                <option value ="50. San sebastian de palmitas" >50. San Sebastian de Palmitas</option>
                <option value="60. San cristobal"  >60. San Cristobal</option>
                <option value ="70. Alta vista" >70. Alta Vista</option>
                <option value="80. San antonio de prado"  >80. San Antonio de Prado</option>
                <option value ="90. Santa elena" >90. Santa Elena</option>
                <% } %> 
        </select>
      </div>
      <div class=camp>
        <label form="">Barrio /Vereda /Sector *</label>
        <input name="barrio_vereda" type="text" placeholder="Ingrese Barrio" required pattern="[A-Z a-z]{1,50}" title="Solo se permite el ingreso de letras">
      </div>
      <div class=camp>
        <label form="">Dirección *</label>
        <input name="direccion" type="text" placeholder="Ingrese Dirección" required >
      </div>



      <div class=camp>
        <label form="">Nombre de proyecto de inversión</label>
        <input name="nombre_proyecto_inversion" type="text" placeholder="Ingrese nombre del proyecto" pattern="[A-Z a-z]{1,150}" title="Solo se permite el ingreso de letras" >
      </div>
      <div class=camp>
        <label form="">Codigo de proyecto de inversión</label>
        <input name="codigo_proyecto_inversion" type="text" placeholder="Ingrese Codigo de proyecto" pattern="[0-9]{1,10}"  title="Solo es permitido el ingreso de numeros" >
      </div>
      <div class=camp>
        <label form="">Nombre de indicadores PDM & PI </label>
        <input name="nombres_plan_desarrollo" type="text" placeholder="Ingrese Nombre de indicadores" pattern="[A-Z a-z]{1,150}" title="Solo se permite el ingreso de letras">
      </div>
      <div class=camp>
        <label form="">Códigos de indicadores PDM Y PI</label>
        <input name="codigo_indicadores_pdm_pdi" type="text" placeholder="Ingrese codigos" pattern="[0-9]{1,10}"  title="Solo es permitido el ingreso de numeros" >
      </div>
      <div class=camp>
        <label form="tipo">Linea</label>
        <input type="text" placeholder="ingrese nombre de la linea"  name="linea" pattern="[A-Z a-z]{1,150}" title="Solo se permite el ingreso de letras">
      </div>
      <div class=camp>
        <label form="tipo">Componente</label>
        <input type="text" placeholder="ingrese nombre de la actividad"  name="componente" pattern="[A-Z a-z]{1,150}" title="Solo se permite el ingreso de letras">
      </div>
        <div id="contenedor" class=camp>
        <label form="tipo">Tipo de reunión *</label>
        <select name="tipo_reunion" id="myselect" onchange="showInput()" class="select" required>
          <option value="" selected disabled>Selecciona el tipo de Reunion</option>
          <option value="Informativa">Informativa</option>
          <option value="Seguimiento">Seguimiento</option>
          <option value="Toma de desiciones">Toma de desiciones</option>
          <option value="Capacitación">Capacitación</option>
          <option value="Formación">Formación</option>
          <option id="option">Otro</option>
          <!-- <input  id="Texto" type="text" style="visibility: hidden" placeholder="Ingresa el tipo de reunion"> -->
        </select>
      </div>
  
      <input type="submit" class="btn-save" value="Guardar">
    </form>
  </main>
    <a href="/activitiesTable" class="btn-save1">Tabla 📋</a>
  </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>






      <footer class="container-footer">
        <div class="container_footer">
          <div class="box_footer">
            <div class="logo">
              <img class="img1" src="https://www.museocasadelamemoria.gov.co/wp-content/uploads/2016/10/PNG_LOGO_ALCALDIA_MEDELLIN_FONDOS_OSCUROS.png" alt="">
            </div>
            <div class="terms">
              <p> Contáctenos
                Calle 44 N 52 – 165 Centro Administrativo la Alpujarra – Medellín, Colombia.<br>
                ➮ Comunicaciones.planeacion@medellin.gov.co<br>
                ➮ Línea única de atención ciudadana: (574) 44 44 144<br>
                ➮ Línea gratuita nacional: 01 8000 411 144</p>
            </div>
          </div>
         
      
          <div class="box_footer">
            <h2>Entérese</h2>
            <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=navurl://557131b191a8cae1e393328c6971a2d0">Telecentros</a>
            <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=contenido/6694-Centros-de-Desarrollo-Social">CDS</a>
            <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin">Alcaldía de Medellín</a>
          </div>
          <div class="box_footer">
            <h2>Redes</h2>
            <a class="a1" href="https://es-la.facebook.com/AlcaldiadeMed/"><i class=" fab fa-facebook-square"></i> Facebook</a>
            <a class="a1" href="https://twitter.com/AlcaldiadeMed?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class=" fab fa-twitter-square"></i> Twitter</a>
            <a class="a1" href="https://www.instagram.com/alcaldiademed/?hl=es-la"><i class=" fab fa-instagram-square"></i> Instragram</a>
          </div>
        </div>
      </footer>
    
 

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" ;>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700" ;>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="/resources/js/script.js"></script>
        <script src="/resources/js/axiosActivities/addActivities.js"></script>
        <script src="/resources/js/showInputActivities.js"></script>

    <% if(typeof alert !="undefined" ){%>
      <script>
        Swal.fire({
          title: '<%= title %>',
          icon: '<%= icon %>',
          showConfirmButton: '<%= showConfirmButton %>',
          timer: '<%= timer %>',
        }).then(() => {
            window.location = '/<%= ruta %>'
        })
      </script>
      <% } %>
         
</body>

</html>