<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/registroVisitantes.css" type="text/css" media="all">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <script src="https://kit.fontawesome.com/deb5a2be68.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Escudo_de_Medell%C3%ADn_%28versi%C3%B3n_Alcald%C3%ADa%29.svg/1200px-Escudo_de_Medell%C3%ADn_%28versi%C3%B3n_Alcald%C3%ADa%29.svg.png" rel="icon" />
  <title>Registro visitantes</title>
</head>
<body>
  

  <header class="encab">
    <div><img src="https://www.museocasadelamemoria.gov.co/wp-content/uploads/2016/10/PNG_LOGO_ALCALDIA_MEDELLIN_FONDOS_OSCUROS.png" alt=""></div>
      <nav>
      <ul>
        <li><a href="/visitors">Registro</a></li>
        <li><a href="/visitorLogin">Ingreso</a></li>
        
        <li><a href="#">Configuración</a>
          <ul>
            <li><a href="/activities">Actividades</a></li>
            <li><a href="/registerCds">CDS & telecentros</a></li>
            <li><a href="/users">Registro usuarios</a></li>
          </ul>
        </li>
        <li><a href="/logout">Salir</a></li>
      </ul>
    </nav>
</header>

<main>
 <h1>REGISTRO DE VISITANTES</h1>
 <form method="POST" action="addVisitors" >
 <div class= camp>
  <label form="tipo">Tipo de documento</label>
  <select name ="tipo_documento" id="tipo" class="select" required>
    <option value ="" selected disabled>Selecciona tipo de documento</option>
    <option value ="cedula de ciudadania" >Cédula de Ciudadanía (CC)</option>
    <option value="cedula de extranjeria"  >Cédula de extrangería (CE)</option>
    <option value ="tarjeta de identidad" >Tarjeta de Identidad (TI)</option>
    <option value ="pasaporte" >Pasaporte</option>
    <option value ="registro civil" >Registro Civil (RC)</option>
    <option value ="numero unico de identificacion personal" >Número Único de Identificación Personal (NUIP)</option>
    <option value ="numero de identificacion personal" >Numero de Identificación Personal (NIP)</option>
  </select>
</div>

<div class= "camp">
  <label form="" for="validationServer" >Número de Documento</label>
  <input type="text" name="numero_documento" id="validationServer01" placeholder="Ingrese identificación" required onchange="idValidation()">
  <div class="invalid-feedback">
    La cedula ya se encuentra registrada
  </div>
</div>

<div class="camp">
    <label form="">Nombre completo</label>
    <input type="text" name="nombre_completo" placeholder=" Ingrese Nombre completo" required>
  </div>
   
  <div class= "camp">
    <label form="">Secretaría o Entidad</label>
    <input type="text" name="secretaria_entidad" placeholder="Sí no aplica llenar 'N/A'" required>
  </div>

   <div class= "camp">
    <label form="">Ocupación</label>
    <input type="text" name="ocupacion" placeholder="Empleo/Cargo actual"required>
  </div>

  <div class= "camp">
    <label form="">Fecha de Nacimiento</label>
    <input type="date" name="fecha_nacimiento" id="fecha" placeholder="AAAA-MM-DD" onchange="ageGenerator()" required>
  </div>

  <div class= "camp">
    <label form="">Edad</label>
    <input type="number" name="edad" id="age" value="" aria-disabled="true" readonly >
  </div>
  

  <div class= "camp">
    <label form="tipo">Enfoque diferencial</label>
    <select name ="enfoque_diferencial" id="tipo" class="select" required>
      <option value ="" selected disabled>Selecciona el enfoque diferencial</option>
      <option value ="Afrodescendiente" >Afrodescendiente</option>
      <option value="Indigena"  >Indigena</option>
      <option value ="ROM" >ROM</option>
      <option value ="LGBTIQ+" >LGBTIQ+</option>
      <option value ="Situacion de calle" >Situacion de calle</option>
      <option value ="Campesino" >Campesino</option>
      <option value ="Discapacidad" >Discapacidad</option>
      <option value ="Poblacion victima">Población victima</option>
    </select>
  </div>
  
  <div class= "camp">
    <label form="">Lugar </label>
    <select class="form-select" name="IdCds">
   <option selected value="<%= id_cds %> "> <%= name %>  </option>
    </select>
  </div>

  <div class= "camp">
    <label form="tipo">Degradación territorial</label>
    <select name ="degradacion_territorial" id="tipo" class="select" required>
      <option value ="" selected disabled>Selecciona una comuna</option>
      <option value ="1. Popular" >1. Popular</option>
      <option value="2. Santa cruz"  >2. Santa Cruz</option>
      <option value ="3. Manrique" >3. Manrique</option>
      <option value="4. Aranjuez"  >4. Aranjuez</option>
      <option value ="5. Castilla" >5. Castilla</option>
      <option value="6. 12 de octubre"  >6. 12 de Octubre</option>
      <option value ="7. Robledo" >7. Robledo</option>
      <option value="8. Villa Hermosa"  >8. Villa Hermosa</option>
      <option value ="9. Buenos Aires" >9. Buenos Aires</option>
      <option value="10. la candelaria"  >10. La Candelaria</option>
      <option value ="11. Laureles" >11. Laureles Estadio</option>
      <option value="12. La america"  >12. La America</option>
      <option value ="13. San javier" >13. San javier</option>
      <option value="14. El poblado"  >14. El Poblado</option>
      <option value ="15. Guayabal" >15. Guayabal</option>
      <option value="16. Belen"  >16. Belén</option>
      <option value ="50. San sebastian de palmitas" >50. San Sebastian de Palmitas</option>
      <option value="60. San cristobal"  >60. San Cristobal</option>
      <option value ="70. Alta vista" >70. Alta Vista</option>
      <option value="80. San antonio de prado"  >80. San Antonio de Prado</option>
      <option value ="90. Santa elena" >90. Santa Elena</option>
    </select>
  </div>
  
  <div class= "camp">
    <label form="">Correo Electrónico</label>
    <input type="email" name="correo_electronico" placeholder="Ingrese Correo Electrónico" required>
  </div>
  
  <div class= "camp">
    <label form="tipo">Organización</label>
    <select name ="organizacion" id="tipo" class="select" required>
      <option value ="" selected disabled>Selecciona el tipo de Organización</option>
      <option value ="JAL" >JAL</option>
      <option value="JAC"  >JAC</option>
      <option value ="PP" >PP</option>
      <option value ="PDL" >PDL</option>
      <option value ="N/A" >N/A</option>
    </select>
    </div>
    <div class= "camp">
      <label form="">Teléfono o Celular</label>
      <input Id="telNo" name="telefono_celular" type="tel"  placeholder="Ingrese Teléfono o Celular"required>
    </div>


    <div class="sexo"  required>
      <label form="" >Seleciona el Sexo</label>
      <div><input type="radio" name="sexo" value="Masculino" required autocomplete>Masculino</div>
      <div><input type="radio" name="sexo" value="Femenino" required autocomplete>Femenino</div>
    </div>

    <input type="submit" class="btn-save" id="login" value ="Registrar">
</form>
</main>

<a href="/registerTable" class="btn-save1">Tabla 📋</a>


<footer>
  <div class="container_footer">
    <div class="box_footer">
      <div class="logo">
        <img src="https://www.museocasadelamemoria.gov.co/wp-content/uploads/2016/10/PNG_LOGO_ALCALDIA_MEDELLIN_FONDOS_OSCUROS.png" alt="">
      </div>
      <div class="terms">
        <p> Contáctenos
          Calle 44 N 52 – 165 Centro Administrativo la Alpujarra – Medellín, Colombia.<br>
          ➮ Comunicaciones.planeacion@medellin.gov.co<br>
          ➮ Línea única de atención ciudadana: (574) 44 44 144<br>
          ➮ Línea gratuita nacional: 01 8000 411 144</p>
      </div>
    </div>
   

    <div class="box_footer">
      <h2>Entérese</h2>
      <a href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=navurl://557131b191a8cae1e393328c6971a2d0">Telecentros</a>
      <a href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=contenido/6694-Centros-de-Desarrollo-Social">CDS</a>
      <a href="https://www.medellin.gov.co/irj/portal/medellin">Alcaldía de Medellín</a>
    </div>
    <div class="box_footer">
      <h2>Redes</h2>
      <a href="https://es-la.facebook.com/AlcaldiadeMed/"><i class=" fab fa-facebook-square"></i> Facebook</a>
      <a href="https://twitter.com/AlcaldiadeMed?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class=" fab fa-twitter-square"></i> Twitter</a>
      <a href="https://www.instagram.com/alcaldiademed/?hl=es-la"><i class=" fab fa-instagram-square"></i> Instragram</a>
    </div>
  </div>
</footer>

<script src="/resources/js/edad.js"></script>
<script src="/resources/js/validacion.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


  <% if(typeof alert != "undefined"){%>
  <script>
    Swal.fire({
      title:'<%= title %>',
      icon:'<%= icon %>',
      showConfirmButton:'<%= showConfirmButton %>',
      timer: '<%= timer %>'
    }).then(() =>{
      window.location='/<%= ruta %>'
    })
  </script>
<% } %>



  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css";>
  <link rel="stylesheet" href= "//fonts.googleapis.com/css?family=Roboto:400,700";>

</body>
</html>