<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="/resources/css/registroUsuarios.css" type="text/css" media="all">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css";>
  <link rel="stylesheet" href= "//fonts.googleapis.com/css?family=Roboto:400,700";>
  

  <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
  <script src="https://kit.fontawesome.com/deb5a2be68.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


  <link type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Escudo_de_Medell%C3%ADn_%28versi%C3%B3n_Alcald%C3%ADa%29.svg/1200px-Escudo_de_Medell%C3%ADn_%28versi%C3%B3n_Alcald%C3%ADa%29.svg.png" rel="icon" />
  <title>Registro CDS O TELECENTROS</title>
</head>

<body>
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://fiestadellibroylacultura.com/wp-content/uploads/2020/09/Logo_Alcaldia_2021.png" alt="" width="110" height="55" > <strong></strong>
   
    </a>
    <ul class="nav nav-tabs">
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"  href="/visitors">Visitante</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" href="/visitorLogin">Ingreso</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false" href="/activities">Actividades</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Usuarios</a>
          <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/registerCds">1. Crear CDS</a></li>
          <li><a class="dropdown-item" href="/users">2. Crear Usuario</a></li>
        </ul>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false" href="/logout">Salir</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="register-form">
  <h1>REGISTRO DE USUARIOS</h1>

  <form action="addUsers" method="POST">

    <label for="">Nombre CDS o TELECENTRO</label>
    <select  name="IdCds" id="tipo"  class="select-css" required>
      <option value ="" selected disabled>Selecciona un cds o telecentro</option>
      <% for(let i = 0; i < data.length; i++) { %> 
        <option value ="<%= data[i].IdCds %>" ><%= data[i].concatenar %> </option>
        <%  } %> 
      </select>

      <label for="">Cedula</label>
      <input type="text" name="cedula" pattern="[0-9]{7,10}"  title="la cedula debe tener minino 7 digitos o maximo 10" required>

      <label for="">Correo</label>
      <input type="text" name="correo" required>


      <label for="">Teléfono</label>
      <input type="text" name= "telefono" required>

    <label for="rol">Rol</label>
    <select name ="rol" id="rol" class="select-css"  required>
      <option value="Coordinador CDS" selected>Coordinador CDS</option>
      <option value ="Apoyo Telecentro" selected>Apoyo Telecentro</option>
    </select>

    <label for="pass">Contraseña</label>
    <input type="password" name="pass" required>



    <div style ="display: unline;">
      <input type="submit" class="btn-save" value ="Guardar">
    </div>
  </form>
</div>

<a href="/usersTable" class="btn-save1">Tabla 📋</a>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <% if(typeof alert != "undefined"){%>
  <script>
    Swal.fire({
      title:'<%= title %>',
      icon:'<%= icon %>',
      showConfirmButton:'<%= showConfirmButton %>',
      timer: '<%= timer %>'
    }).then(() =>{
      window.location='/<%= ruta %>'
    })
  </script>
<% } %>


  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css";>
  <footer>
    <div class="container_footer">
      <div class="box_footer">
        <div class="logo">
          <img class="img1" src="https://www.museocasadelamemoria.gov.co/wp-content/uploads/2016/10/PNG_LOGO_ALCALDIA_MEDELLIN_FONDOS_OSCUROS.png" alt="">
        </div>
        <div class="terms">
          <p> Contáctenos
            Calle 44 N 52 – 165 Centro Administrativo la Alpujarra – Medellín, Colombia.<br>
            ➮ Comunicaciones.planeacion@medellin.gov.co<br>
            ➮ Línea única de atención ciudadana: (574) 44 44 144<br>
            ➮ Línea gratuita nacional: 01 8000 411 144</p>
        </div>
      </div>
     
  
      <div class="box_footer">
        <h2>Entérese</h2>
        <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=navurl://557131b191a8cae1e393328c6971a2d0">Telecentros</a>
        <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=contenido/6694-Centros-de-Desarrollo-Social">CDS</a>
        <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin">Alcaldía de Medellín</a>
      </div>
      <div class="box_footer">
        <h2>Redes</h2>
        <a class="a1" href="https://es-la.facebook.com/AlcaldiadeMed/"><i class=" fab fa-facebook-square"></i> Facebook</a>
        <a class="a1" href="https://twitter.com/AlcaldiadeMed?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class=" fab fa-twitter-square"></i> Twitter</a>
        <a class="a1" href="https://www.instagram.com/alcaldiademed/?hl=es-la"><i class=" fab fa-instagram-square"></i> Instragram</a>
      </div>
    </div>
  </footer>
</body>
</html>