<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>tabla de cds</title>	
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <style>
     table.dataTable thead {
      background: linear-gradient(to right,#0575e6, #00f260);
      color: white;
      text-align:left;
       }  
    </style>
</head>

  

    <table id="example"  class=" table table-striped table-ligth table-hover ">
      <thead class="text-center">
        <tr>
          
          <th>Nombre</th>
          <th>Linea</th>
          <th>Componente</th>
          <th>Secretaria</th>
          <th>facilitador</th>
          <th>Fecha inicio</th>
          <th>Fecha Final</th>
          <th>Hora de apertura</th>
          <th>Hora de cierre</th>
          <th>Lugar</th>
          <th>Ciudad</th>
          <th>Comuna</th>
          <th>Barrio</th>
          <th>Direección</th>
          <th>Tipo de reunión</th>
          <th>Nombre proyecto de Inversion</th>
          <th>Código Proyecto de Inversion</th>
          <th>nombre PDM y PI </th>
          <th>Codigo PDM y PI</th>
          <th>Borrar</th>
          <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        <% for(let i = 0; i < actividad.length;i ++ ) {%> 
          <tr>
            
            <td><%= actividad[i].nombre %></td>
            <td><%= actividad[i].linea %></td>
            <td><%= actividad[i].componente %></td>
            <td><%= actividad[i].secretaria %></td>
            <td><%= actividad[i].facilitador %></td>
            <td><%= actividad[i].fecha_inicio%> </td>
            <td><%= actividad[i].fecha_final%> </td>
            <td><%= actividad[i].hora_apertura %> </td>
            <td><%= actividad[i].hora_cierre%> </td>
            <td><%= actividad[i].lugar%> </td>
            <td><%= actividad[i].ciudad%> </td>
            <td><%= actividad[i].comuna_corregimiento %> </td>
            <td><%= actividad[i].barrio_vereda%> </td>
            <td><%= actividad[i].direccion %> </td>
            <td><%= actividad[i].tipo_reunion%> </td>
            <td><%= actividad[i].nombre_proyecto_inversion%></td>
            <td><%= actividad[i].codigo_proyecto_inversion%></td>
            <td><%= actividad[i].nombre_indicadores%></td>
            <td><%= actividad[i].codigo_indicadores_pdm_pdi%></td>
  
            <td><a class="btn btn-outline-danger" href="/delete.activities/<%= actividad[i].id%>"> ❌</a></td>
            <td><button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal<%=actividad[i].id%>" data-bs-whatever="@fat"> 🖋</button></td>
         </tr>

          <div class="modal fade" id="exampleModal<%= actividad[i].id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edita el campo que necesites</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method ="post" action="/edit.activities/<%= actividad[i].id%>">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Nombre:</label>
                      <input type="text" class="form-control" id="recipient-name" name="nombre" value="<%= actividad[i].nombre %>">
                    </div>
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label">Linea</label>
                      <input class="form-control" id="message-text" name="linea" value="<%= actividad[i].linea %>"></input>
                    </div>
  
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">componente</label>
                    <input class="form-control" id="message-text" name="componente" value="<%= actividad[i].componente%>"></input>
                  </div>
  
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">secretaria</label>
                  <input class="form-control" id="message-text" name="secretaria" value="<%=actividad[i].secretaria %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">facilitador</label>
                  <input class="form-control" id="message-text" name="facilitador" value="<%=actividad[i].facilitador %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">fecha_inicio</label>
                  <input class="form-control" id="message-text" type="date" name="fecha_inicio" value="<%=actividad[i].fecha_inicio %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">fecha_final</label>
                  <input class="form-control" type="date" id="message-text" name="fecha_final" value="<%=actividad[i].fecha_final %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label"> Apertura</label>
                  <input class="form-control" type="time" id="message-text" name="hora_apertura" value="<%=actividad[i].hora_apertura %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Hora Cierre</label>
                  <input class="form-control" type="time" id="message-text" name="hora_cierre" value="<%=actividad[i].hora_cierre %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">lugar</label>
                  <input class="form-control" id="message-text" name="lugar" value="<%=actividad[i].lugar %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">ciudad</label>
                  <input class="form-control" id="message-text" name="ciudad" value="<%=actividad[i].ciudad %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Comuna o Corregimiento</label>
                  <select name ="comuna_corregimiento" id="tipo" class="select"  value="<%=actividad[i].comuna_corregimiento %>" >
                    <option value ="" selected disabled>Selecciona una comuna</option>
                    <option value ="1. Popular" >1. Popular</option>
                    <option value="2. Santa Cruz"  >2. Santa Cruz</option>
                    <option value ="3. Manrique" >3. Manrique</option>
                    <option value="4. Aranjuez"  >4. Aranjuez</option>
                    <option value ="5. Castilla" >5. Castilla</option>
                    <option value="6. 12 de Octubre"  >6. 12 de Octubre</option>
                    <option value ="7. Robledo" >7. Robledo</option>
                    <option value="8. Villa Hermosa"  >8. Villa Hermosa</option>
                    <option value ="9. Buenos Aires" >9. Buenos Aires</option>
                    <option value="10. La Candelaria"  >10. La Candelaria</option>
                    <option value ="11. Laureles Estadio" >11. Laureles Estadio</option>
                    <option value="12. La America"  >12. La America</option>
                    <option value ="13. San javier" >13. San javier</option>
                    <option value="14. El Poblado"  >14. El Poblado</option>
                    <option value ="15. Guayabal" >15. Guayabal</option>
                    <option value="16. Belén"  >16. Belén</option>
                    <option value ="50. San Sebastian de Palmitas" >50. San Sebastian de Palmitas</option>
                    <option value="60. San Cristobal"  >60. San Cristobal</option>
                    <option value ="70. Alta Vista" >70. Alta Vista</option>
                    <option value="80. San Antonio de Prado"  >80. San Antonio de Prado</option>
                    <option value ="90. Santa Elena" >90. Santa Elena</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Barrio o Vereda</label>
                  <input class="form-control" id="message-text" name="barrio_vereda" value="<%=actividad[i].barrio_vereda %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Dirección</label>
                  <input class="form-control" id="message-text" name="direccion" value="<%=actividad[i].direccion %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">precio</label>
                  <select name ="tipo_reunion" id="tipo" class="select" value="<%= actividad[i].tipo_reunion %>">
                    <option value ="" selected disabled>Selecciona el tipo de Reunion</option>
                    <option value ="Informativa" >Informativa</option>
                    <option value="Seguimiento"  >Seguimiento</option>
                    <option value ="Toma de desiciones" >Toma de desiciones</option>
                    <option value ="Capacitación" >Capacitación</option>
                    <option value ="Formación" >Formación</option>
                    <option value ="otro" >Otro</option>
                    <input type="text" placeholder="¿Otro tipo de reunión?, ¿Cúal?">
                  </select>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Nombre Proyecto Inversión</label>
                  <input class="form-control" id="message-text" name="nombre_proyecto_inversion" value="<%=actividad[i].nombre_proyecto_inversion %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Codigo Proyecto Inversión</label>
                  <input class="form-control" id="message-text" name="codigo_proyecto_inversion" value="<%=actividad[i].codigo_proyecto_inversion %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Nombre Indicadores</label>
                  <input class="form-control" id="message-text" name="nombre_indicadores" value="<%=actividad[i].nombre_indicadores %>"></input>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">codigos Indicadores PDM y PI</label>
                  <input class="form-control" id="message-text" name="codigo_indicadores_pdm_pdi" value="<%=actividad[i].codigo_indicadores_pdm_pdi %>"></input>
                </div>
  
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">❎</button>
                      <input type="submit" class="btn btn-primary" value ="👌">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </tbody>
    </table>
<script>
  $(document).ready(function() {
      $('#example').DataTable({
      })
  } )
  </script>
  </body>
  
  </html>